// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.1.259.1
// Netlist written on Mon Sep 23 02:46:57 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/holli/desktop/repositories/lab-2-hmc-e155/fpga/lab2/source/lab2_kh/top.sv"
// file 1 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab2_kh
//

module lab2_kh (input reset, input [3:0]s1, output [3:0]led, output [1:0]display_select_c, 
            output [6:0]seg);
    
    (* is_clock=1, lineinfo="@0(112[8],112[15])" *) wire int_osc;
    
    wire GND_net, reset_c, s1_c_3, s1_c_2, s1_c_1, s1_c_0, led_c_3, 
        led_c_2, led_c_1, s1_c_0_N_28, display_select_c_c_1, display_select_c_c_0, 
        seg_c_6, seg_c_5, seg_c_4, seg_c_3, seg_c_2, seg_c_1, seg_c_0, 
        n174;
    
    (* lineinfo="@0(129[20],135[3])" *) seven_seg_display u3 (s1_c_1, int_osc, 
            n174, seg_c_1, seg_c_0, seg_c_2, seg_c_3, seg_c_4, seg_c_6, 
            seg_c_5, s1_c_3, s1_c_2, s1_c_0);
    (* lineinfo="@0(107[26],107[28])" *) IB \s1_pad[0]  (.I(s1[0]), .O(s1_c_0));
    (* lineinfo="@0(107[26],107[28])" *) IB \s1_pad[1]  (.I(s1[1]), .O(s1_c_1));
    (* lineinfo="@0(107[26],107[28])" *) IB \s1_pad[2]  (.I(s1[2]), .O(s1_c_2));
    (* lineinfo="@0(107[26],107[28])" *) IB \s1_pad[3]  (.I(s1[3]), .O(s1_c_3));
    (* lineinfo="@0(106[28],106[33])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(111[26],111[29])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(110[26],110[42])" *) OB \display_select_c_pad[0]  (.I(display_select_c_c_0), 
            .O(display_select_c[0]));
    (* lineinfo="@0(110[26],110[42])" *) OB \display_select_c_pad[1]  (.I(display_select_c_c_1), 
            .O(display_select_c[1]));
    (* lineinfo="@0(109[26],109[29])" *) OB \led_pad[0]  (.I(s1_c_0_N_28), 
            .O(led[0]));
    (* lineinfo="@0(109[26],109[29])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@0(109[26],109[29])" *) OB \led_pad[2]  (.I(led_c_2), .O(led[2]));
    (* lineinfo="@0(109[26],109[29])" *) OB \led_pad[3]  (.I(led_c_3), .O(led[3]));
    (* lineinfo="@0(117[11],121[3])" *) Hz_blink u1 (display_select_c_c_1, 
            int_osc, display_select_c_c_0, n174, reset_c);
    (* lineinfo="@0(123[11],127[3])" *) led_comb u2 (s1_c_1, s1_c_0, led_c_1, 
            s1_c_0_N_28, s1_c_2, s1_c_3, led_c_3, led_c_2);
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module seven_seg_display
//

module seven_seg_display (input s1_c_1, input int_osc, input n174, output seg_c_1, 
            output seg_c_0, output seg_c_2, output seg_c_3, output seg_c_4, 
            output seg_c_6, output seg_c_5, input s1_c_3, input s1_c_2, 
            input s1_c_0);
    
    (* is_clock=1, lineinfo="@0(112[8],112[15])" *) wire int_osc;
    (* lineinfo="@0(73[14],73[22])" *) wire [3:0]s_select;
    
    wire VCC_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=20, LSE_RCOL=3, LSE_LLINE=129, LSE_RLINE=135, lineinfo="@0(75[12],80[5])" *) FD1P3XZ s_select_i3 (.D(s1_c_3), 
            .SP(VCC_net), .CK(int_osc), .SR(n174), .Q(s_select[3]));
    defparam s_select_i3.REGSET = "RESET";
    defparam s_select_i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@0(83[4],103[9])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_select[1]), 
            .B(s_select[3]), .C(s_select[2]), .D(s_select[0]), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@0(83[4],103[9])" *) LUT4 s_select_3__I_0_4_lut (.A(s_select[1]), 
            .B(s_select[0]), .C(s_select[3]), .D(s_select[2]), .Z(seg_c_0));
    defparam s_select_3__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@0(83[4],103[9])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_select[1]), 
            .B(s_select[3]), .C(s_select[0]), .D(s_select[2]), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(A (C (D)+!C !(D))+!A !(B (C+!(D))+!B ((D)+!C)))", lineinfo="@0(83[4],103[9])" *) LUT4 seg_c_3_I_0_4_lut (.A(s_select[0]), 
            .B(s_select[3]), .C(s_select[2]), .D(s_select[1]), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0xa41a";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@0(83[4],103[9])" *) LUT4 seg_c_4_I_0_4_lut (.A(s_select[0]), 
            .B(s_select[3]), .C(s_select[1]), .D(s_select[2]), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C (D)+!C !(D)))+!A (B+(C+!(D)))))", lineinfo="@0(83[4],103[9])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_select[0]), 
            .B(s_select[1]), .C(s_select[3]), .D(s_select[2]), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x2182";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@0(83[4],103[9])" *) LUT4 seg_c_5_I_0_4_lut (.A(s_select[0]), 
            .B(s_select[3]), .C(s_select[2]), .D(s_select[1]), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0xd860";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=20, LSE_RCOL=3, LSE_LLINE=129, LSE_RLINE=135, lineinfo="@0(75[12],80[5])" *) FD1P3XZ s_select_i2 (.D(s1_c_2), 
            .SP(VCC_net), .CK(int_osc), .SR(n174), .Q(s_select[2]));
    defparam s_select_i2.REGSET = "RESET";
    defparam s_select_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=20, LSE_RCOL=3, LSE_LLINE=129, LSE_RLINE=135, lineinfo="@0(75[12],80[5])" *) FD1P3XZ s_select_i0 (.D(s1_c_0), 
            .SP(VCC_net), .CK(int_osc), .SR(n174), .Q(s_select[0]));
    defparam s_select_i0.REGSET = "SET";
    defparam s_select_i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=20, LSE_RCOL=3, LSE_LLINE=129, LSE_RLINE=135, lineinfo="@0(75[12],80[5])" *) FD1P3XZ s_select_i1 (.D(s1_c_1), 
            .SP(VCC_net), .CK(int_osc), .SR(n174), .Q(s_select[1]));
    defparam s_select_i1.REGSET = "RESET";
    defparam s_select_i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module Hz_blink
//

module Hz_blink (output display_select_c_c_1, output int_osc, output display_select_c_c_0, 
            output n174, input reset_c);
    
    (* is_clock=1, lineinfo="@0(112[8],112[15])" *) wire int_osc;
    
    wire switch;
    (* lineinfo="@0(8[15],8[22])" *) wire [24:0]counter;
    
    wire n14;
    wire [24:0]n105;
    
    wire n25, n32, n4, n9, display_select_c_c_0_N_29, n8, n4_adj_45, 
        n22, n23, n24, n327, n4_adj_46, n238, n706, GND_net, 
        n236, n703, n234, n700, n232, n697, n230, n694, n228, 
        n691, n226, n688, n224, n685, n222, n682, n220, n679, 
        n218, n676, n216, n673, n670, VCC_net;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=3, LSE_LLINE=117, LSE_RLINE=121, lineinfo="@0(117[11],121[3])" *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), 
            .TRIM6(GND_net), .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), 
            .TRIM2(GND_net), .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i1 (.D(n105[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(n25));
    defparam counter_10__i1.REGSET = "RESET";
    defparam counter_10__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(counter[22]), .B(counter[24]), 
            .C(counter[20]), .D(counter[18]), .Z(n14));
    defparam i6_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=3, LSE_LLINE=117, LSE_RLINE=121, lineinfo="@0(16[12],32[5])" *) IOL_B display_select_i1 (.PADDI(GND_net), 
            .DO1(GND_net), .DO0(display_select_c_c_0_N_29), .CE(VCC_net), 
            .IOLTO(GND_net), .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(int_osc), 
            .PADDO(display_select_c_c_0));
    defparam display_select_i1.LATCHIN = "LATCH_REG";
    defparam display_select_i1.DDROUT = "NO";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(counter[16]), 
            .B(counter[19]), .C(counter[17]), .D(n4), .Z(n9));
    defparam i1_4_lut.INIT = "0xfcec";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i25 (.D(n105[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[24]));
    defparam counter_10__i25.REGSET = "RESET";
    defparam counter_10__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i24 (.D(n105[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[23]));
    defparam counter_10__i24.REGSET = "RESET";
    defparam counter_10__i24.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i7_4_lut (.A(n9), .B(n14), 
            .C(counter[23]), .D(counter[21]), .Z(n32));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A))", lineinfo="@0(16[12],32[5])" *) LUT4 i163_1_lut (.A(display_select_c_c_1), 
            .Z(n174));
    defparam i163_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i23 (.D(n105[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[22]));
    defparam counter_10__i23.REGSET = "RESET";
    defparam counter_10__i23.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@0(24[19],24[26])" *) LUT4 i9_1_lut (.A(switch), 
            .Z(display_select_c_c_0_N_29));
    defparam i9_1_lut.INIT = "0x5555";
    (* lut_function="(A (B (C)))" *) LUT4 i3_3_lut (.A(counter[8]), .B(counter[7]), 
            .C(counter[5]), .Z(n8));
    defparam i3_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B (C (D))))" *) LUT4 i1_4_lut_adj_2 (.A(counter[9]), 
            .B(counter[6]), .C(n8), .D(counter[4]), .Z(n4_adj_45));
    defparam i1_4_lut_adj_2.INIT = "0xeaaa";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i22 (.D(n105[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[21]));
    defparam counter_10__i22.REGSET = "RESET";
    defparam counter_10__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i21 (.D(n105[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[20]));
    defparam counter_10__i21.REGSET = "RESET";
    defparam counter_10__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i20 (.D(n105[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[19]));
    defparam counter_10__i20.REGSET = "RESET";
    defparam counter_10__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i19 (.D(n105[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[18]));
    defparam counter_10__i19.REGSET = "RESET";
    defparam counter_10__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i18 (.D(n105[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[17]));
    defparam counter_10__i18.REGSET = "RESET";
    defparam counter_10__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i17 (.D(n105[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[16]));
    defparam counter_10__i17.REGSET = "RESET";
    defparam counter_10__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i16 (.D(n105[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[15]));
    defparam counter_10__i16.REGSET = "RESET";
    defparam counter_10__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i15 (.D(n105[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[14]));
    defparam counter_10__i15.REGSET = "RESET";
    defparam counter_10__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i14 (.D(n105[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[13]));
    defparam counter_10__i14.REGSET = "RESET";
    defparam counter_10__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i13 (.D(n105[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[12]));
    defparam counter_10__i13.REGSET = "RESET";
    defparam counter_10__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i12 (.D(n105[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[11]));
    defparam counter_10__i12.REGSET = "RESET";
    defparam counter_10__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i11 (.D(n105[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[10]));
    defparam counter_10__i11.REGSET = "RESET";
    defparam counter_10__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i10 (.D(n105[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[9]));
    defparam counter_10__i10.REGSET = "RESET";
    defparam counter_10__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i9 (.D(n105[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[8]));
    defparam counter_10__i9.REGSET = "RESET";
    defparam counter_10__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i8 (.D(n105[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[7]));
    defparam counter_10__i8.REGSET = "RESET";
    defparam counter_10__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i7 (.D(n105[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[6]));
    defparam counter_10__i7.REGSET = "RESET";
    defparam counter_10__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i6 (.D(n105[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[5]));
    defparam counter_10__i6.REGSET = "RESET";
    defparam counter_10__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i5 (.D(n105[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(counter[4]));
    defparam counter_10__i5.REGSET = "RESET";
    defparam counter_10__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i4 (.D(n105[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(n22));
    defparam counter_10__i4.REGSET = "RESET";
    defparam counter_10__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i3 (.D(n105[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(n23));
    defparam counter_10__i3.REGSET = "RESET";
    defparam counter_10__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[16],26[31])" *) FD1P3XZ counter_10__i2 (.D(n105[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n32), .Q(n24));
    defparam counter_10__i2.REGSET = "RESET";
    defparam counter_10__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=3, LSE_LLINE=117, LSE_RLINE=121, lineinfo="@0(16[12],32[5])" *) FD1P3XZ switch_c (.D(n327), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(switch));
    defparam switch_c.REGSET = "RESET";
    defparam switch_c.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i1_4_lut_adj_3 (.A(counter[12]), 
            .B(counter[10]), .C(counter[11]), .D(n4_adj_45), .Z(n4_adj_46));
    defparam i1_4_lut_adj_3.INIT = "0xfaea";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n238), .CI0(n238), .A1(GND_net), 
            .B1(GND_net), .C1(counter[24]), .D1(n706), .CI1(n706), .CO0(n706), 
            .S0(n105[23]), .S1(n105[24]));
    defparam counter_10_add_4_25.INIT0 = "0xc33c";
    defparam counter_10_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n236), .CI0(n236), .A1(GND_net), 
            .B1(GND_net), .C1(counter[22]), .D1(n703), .CI1(n703), .CO0(n703), 
            .CO1(n238), .S0(n105[21]), .S1(n105[22]));
    defparam counter_10_add_4_23.INIT0 = "0xc33c";
    defparam counter_10_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n234), .CI0(n234), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n700), .CI1(n700), .CO0(n700), 
            .CO1(n236), .S0(n105[19]), .S1(n105[20]));
    defparam counter_10_add_4_21.INIT0 = "0xc33c";
    defparam counter_10_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n232), .CI0(n232), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n697), .CI1(n697), .CO0(n697), 
            .CO1(n234), .S0(n105[17]), .S1(n105[18]));
    defparam counter_10_add_4_19.INIT0 = "0xc33c";
    defparam counter_10_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n230), .CI0(n230), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n694), .CI1(n694), .CO0(n694), 
            .CO1(n232), .S0(n105[15]), .S1(n105[16]));
    defparam counter_10_add_4_17.INIT0 = "0xc33c";
    defparam counter_10_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n228), .CI0(n228), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n691), .CI1(n691), .CO0(n691), 
            .CO1(n230), .S0(n105[13]), .S1(n105[14]));
    defparam counter_10_add_4_15.INIT0 = "0xc33c";
    defparam counter_10_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n226), .CI0(n226), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n688), .CI1(n688), .CO0(n688), 
            .CO1(n228), .S0(n105[11]), .S1(n105[12]));
    defparam counter_10_add_4_13.INIT0 = "0xc33c";
    defparam counter_10_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n224), .CI0(n224), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n685), .CI1(n685), .CO0(n685), 
            .CO1(n226), .S0(n105[9]), .S1(n105[10]));
    defparam counter_10_add_4_11.INIT0 = "0xc33c";
    defparam counter_10_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n222), .CI0(n222), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n682), .CI1(n682), .CO0(n682), 
            .CO1(n224), .S0(n105[7]), .S1(n105[8]));
    defparam counter_10_add_4_9.INIT0 = "0xc33c";
    defparam counter_10_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n220), .CI0(n220), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n679), .CI1(n679), .CO0(n679), 
            .CO1(n222), .S0(n105[5]), .S1(n105[6]));
    defparam counter_10_add_4_7.INIT0 = "0xc33c";
    defparam counter_10_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n22), .D0(n218), .CI0(n218), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n676), .CI1(n676), .CO0(n676), 
            .CO1(n220), .S0(n105[3]), .S1(n105[4]));
    defparam counter_10_add_4_5.INIT0 = "0xc33c";
    defparam counter_10_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n24), .D0(n216), .CI0(n216), .A1(GND_net), 
            .B1(GND_net), .C1(n23), .D1(n673), .CI1(n673), .CO0(n673), 
            .CO1(n218), .S0(n105[1]), .S1(n105[2]));
    defparam counter_10_add_4_3.INIT0 = "0xc33c";
    defparam counter_10_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(26[16],26[31])" *) FA2 counter_10_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n25), .D1(n670), .CI1(n670), .CO0(n670), .CO1(n216), 
            .S1(n105[0]));
    defparam counter_10_add_4_1.INIT0 = "0xc33c";
    defparam counter_10_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i1_4_lut_adj_4 (.A(counter[15]), 
            .B(counter[13]), .C(counter[14]), .D(n4_adj_46), .Z(n4));
    defparam i1_4_lut_adj_4.INIT = "0xfaea";
    (* lut_function="(!(A (B (C)+!B !(C))+!A (B+!(C))))", lineinfo="@0(16[12],32[5])" *) LUT4 i13_4_lut_3_lut (.A(reset_c), 
            .B(switch), .C(n32), .Z(n327));
    defparam i13_4_lut_3_lut.INIT = "0x3838";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=3, LSE_LLINE=117, LSE_RLINE=121, lineinfo="@0(16[12],32[5])" *) FD1P3XZ display_select_i2 (.D(switch), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(display_select_c_c_1));
    defparam display_select_i2.REGSET = "RESET";
    defparam display_select_i2.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module led_comb
//

module led_comb (input s1_c_1, input s1_c_0, output led_c_1, output s1_c_0_N_28, 
            input s1_c_2, input s1_c_3, output led_c_3, output led_c_2);
    
    
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(45[8],45[15])" *) LUT4 s1_c_1_I_0_2_lut (.A(s1_c_1), 
            .B(s1_c_0), .Z(led_c_1));
    defparam s1_c_1_I_0_2_lut.INIT = "0x6666";
    (* lut_function="(!(A))", lineinfo="@0(45[8],45[15])" *) LUT4 s1_c_0_I_0_1_lut (.A(s1_c_0), 
            .Z(s1_c_0_N_28));
    defparam s1_c_0_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(D))+!A !(D)))", lineinfo="@0(45[8],45[15])" *) LUT4 s1_c_3_I_0_3_lut_4_lut (.A(s1_c_1), 
            .B(s1_c_0), .C(s1_c_2), .D(s1_c_3), .Z(led_c_3));
    defparam s1_c_3_I_0_3_lut_4_lut.INIT = "0x7f80";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))", lineinfo="@0(45[8],45[15])" *) LUT4 s1_c_2_I_0_2_lut_3_lut (.A(s1_c_1), 
            .B(s1_c_0), .C(s1_c_2), .Z(led_c_2));
    defparam s1_c_2_I_0_2_lut_3_lut.INIT = "0x7878";
    
endmodule
